@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

html, body {
  height: 100%;
}
body {
  margin: 0;
}
.homepage {
  font-family: 'Ranchers', cursive;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./images/fridge-background.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 0;
  .randomise {
    height: 50px;
  }
}

.feeling-lucky {
font-size: 28px;
margin-top: 70px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h1 {
  font-size: 100px;
}
.image img {
  width: 360px;
  height: 340px;
}
.card-header-title {
  height: 68px;
}
.size{
  width: 360px;
  height: 408px;
}
.showPage{
  height: 380px;
  overflow-y: auto;
}

.card-column:hover {
cursor: pointer;
border: 10px solid white;
}

.navbar {
  font-family: 'Ranchers', cursive;
  font-size: 24px;
}
.navbar.is-dark {
  background-color: black;
}

.meal-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-bottom: 40px;
    input {
      margin-right: 5px;
    }
  }
}

input {
  background-color: transparent;
  height: 36px;
  width: 260px;
  border: 1px grey solid;
  text-align: center;
  outline: none;
}

input:focus {
  outline:none;
}

button {
  font-family: 'Ranchers', cursive;
  padding: 5px;
  outline: none;
}

button:focus {
  outline: none;
}

.heading-meal {
  font-size: 30px;
  text-align: center;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.yuck{
  border: 1px solid ;
  height: 68px;
  background-color: #d6d6d6;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.ingredientsSection{
  display: flex;
  flex-direction: column;
}
.ingredients{
  display: flex;
  overflow-x: auto;
  p{
    margin: 20px 10px 0 0;
  }
}